{{template "head"}}
<body>
    {{template "topbar" }}
    <div id="confirm-overlay" onclick="cancelDelete()">
        <div id="confirm-dialog">
            <span id="confirm-text">Are you sure to delete all data?</span>
            <div class="button-bar">
                <button onclick="confirmDelete()">Yes</button>
                <button onclick="cancelDelete()">Cancel</button>
            </div>
        </div>
    </div>
    <main id="main">
        <div class="data-container" id="data">
            <table class="data-table" id="awsdata-table">
                <tr>
                    <th>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <span>Date</span>
                    </th>
                    <th>
                        <i class="fa fa-bolt" aria-hidden="true"></i>
			<span>Indoor Temp</span>
                    </th> 
                    <th>
                        <i class="fa fa-bolt" aria-hidden="true"></i>
                        <span>Indoor Humid</span>
                    </th>
                    <th>
                        <i class="fa fa-thermometer-quarter" aria-hidden="true"></i>
                        <span>Absolute Pressure</span>
                    </th>
                    <th>
                        <i class="fa fa-thermometer-quarter" aria-hidden="true"></i>
                        <span>Relative Pressure</span>    
                    </th> 
                    <th>
                        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                        <span>Outdoor Temp</span>
                    </th>
                    <th>
                        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                        <span>Outdoor Humid</span>
                    </th>
		    <th>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <span>Wind Direction</span>
                    </th>
		    <th>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <span>Wind Speed</span>
                    </th>
		    <th>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <span>Wind Gust</span>
                    </th>
		    <th>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <span>Solar Radiation</span>
                    </th>
		    <th>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <span>UV</span>
                    </th>
		    <th>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <span>UVI</span>
                    </th>
		    <th>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <span>Hourly Rain Rate</span>
                    </th>
		    <th>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <span>Daily Rain</span>
                    </th>
		    <th>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <span>Weekly Rain</span>
                    </th>
		    <th>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <span>Monthly Rain</span>
                    </th>
		    <th>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <span>Yearly Rain</span>
                    </th>
                </tr>
                {{ $data := .data }}
                {{ range $k, $v := .keys }}
                    <tr>
                        <td>{{ (index $data $v).Created.Format "2006-01-02 15:04:05" }}</td>
			<td>{{ (index $data $v).IndoorTemp }}</td>
			<td>{{ (index $data $v).IndoorHumid }}</td>
			<td>{{ (index $data $v).AbsolutePressure }}</td>
			<td>{{ (index $data $v).RelativePressure }}</td>
			<td>{{ (index $data $v).OutdoorTemp }}</td>
			<td>{{ (index $data $v).OutdoorHumid }}</td>
			<td>{{ (index $data $v).WindDirection }}</td>
			<td>{{ (index $data $v).WindSpeed }}</td>
			<td>{{ (index $data $v).WindGust }}</td>
			<td>{{ (index $data $v).SolarRadiation }}</td>
                        <td>{{ (index $data $v).UV }}</td>
                        <td>{{ (index $data $v).UVI }}</td>	
			<td>{{ (index $data $v).HourlyRain }}</td>
			<td>{{ (index $data $v).DailyRain }}</td>
			<td>{{ (index $data $v).WeeklyRain }}</td>
			<td>{{ (index $data $v).MonthlyRain }}</td>
			<td>{{ (index $data $v).YearlyRain }}</td>
                    </tr>
                {{ end }}
            </table>
        </div>
    </main>
    {{template "foot"}}
</body>
