{{template "head"}}
<body>
    {{template "topbar" }}
    <main>
<div class="chart-row">
    <div class="chart"><canvas id="tempChart"></canvas></div>
    <div class="chart"><canvas id="lumChart"></canvas></div>
    <div class="chart"><canvas id="voltageChart"></canvas></div>
</div>
<div class="data-container" id="data">
    <table class="data-table" id="solardata-table">
        <tr>
            <th>Date</th>
            <th>Voltage</th> 
            <th>Current</th>
            <th>Temp 1</th>
            <th>Temp 2</th> 
            <th>Lum 1</th>
            <th>Lum 2</th>
        </tr>
    </table>
</div>
<div class="data-container" id="debug">
    <table class="data-table" id="solardebug-table">
        <tr>
            <th>Date</th>
            <th>Message</th>
        </tr>
    </table>
</div>
    </main>
</body>