{{ define "head" }}
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solar Simulator</title>
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/Chart.bundle.js"></script>
    <script src="/static/js/script.js"></script>
</head>
{{end}}