{{template "head"}}
<body>
    {{template "topbar" }}
    <main id="main">
        <div class="data-container" id="data">
            <table class="data-table" id="solardata-table">
                <tr>
                    <th>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <span>Date</span>
                    </th>
                    <th>
                        <i class="fa fa-bolt" aria-hidden="true"></i>
                        <span>Voltage</span>
                    </th> 
                    <th>
                        <i class="fa fa-bolt" aria-hidden="true"></i>
                        <span>Current</span>
                    </th>
                    <th>
                        <i class="fa fa-thermometer-quarter" aria-hidden="true"></i>
                        <span>Temp 1</span>
                    </th>
                    <th>
                        <i class="fa fa-thermometer-quarter" aria-hidden="true"></i>
                        <span>Temp 2</span>    
                    </th> 
                    <th>
                        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                        <span>Lum 1</span>
                    </th>
                    <th>
                        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                        <span>Lum 2</span>
                    </th>
                    <th>
                        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                        <span>PWM</span>
                    </th>
                </tr>
                {{ $data := .data }}
                {{ range $k, $v := .keys }}
                    <tr>
                        <td>{{ (index $data $v).Created.Format "2006-01-02 15:04:05" }}</td>
                        <td>{{ (index $data $v).Voltage }}</td>
                        <td>{{ (index $data $v).Current }}</td>
                        <td>{{ (index $data $v).Temp1 }}</td>
                        <td>{{ (index $data $v).Temp2 }}</td>
                        <td>{{ (index $data $v).Lum1 }}</td>
                        <td>{{ (index $data $v).Lum2 }}</td>
                        <td>{{ (index $data $v).PWM }}</td>
                    </tr>
                {{ end }}
            </table>
        </div>
        <div class="data-container" id="debug">
            <table class="data-table" id="solardebug-table">
                <tr>
                    <th>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <span>Date</span>
                    </th>
                    <th>
                        <i class="fa fa-file-text" aria-hidden="true"></i>
                        <span>Message</span>
                    </th>
                </tr>
                {{ $d := .debug }}
                {{ range $i, $n := .debugkeys }}
                    <tr>
                        <td>{{ (index $d $n).Created.Format "2006-01-02 15:04:05" }}</td>
                        <td>{{ (index $d $n).Message }}</td>
                    </tr>
                {{ end }}
            </table>
        </div>
    </main>
</body>