{{ define "topbar"}}
<div class="topbar">
    <div class="title">
        <h1>Solar Simulator</h1>
        <a href="/"><span></span></a>
    </div>
    <div class="icon-bar">
        <div class="icon" id="debug-list">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span id="icon-label">Debug</span>
            <a><span></span></a>
        </div>
        <div class="icon" id="aws">
            <i class="fa fa-sun-o" aria-hidden="true"></i>
            <span id="icon-label">AWS</span>
            <a href="/aws"><span></span></a>
        </div>
        <div class="icon" id="iv-measurement">
            <i class="fa fa-bolt" aria-hidden="true"></i>
            <span id="icon-label">Measure IV</span>
            <a><span></span></a>
        </div>
        <div class="icon" id="download">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
            <span id="icon-label">Export Data</span>
            <a href="/export"><span></span></a>
        </div>
    </div>
</div>
{{ end }}
