html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 95%;
    width: 99%;
}

#loader{
    position: absolute;
    left: 50%;
    top: 50%;
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

main {
    display: none;
    margin-top: 40px;
    height: 99%;
    width: 99%;
}


h1 {
    font-size: 16px;
}

span#icon-label {
    margin-left: 10px;
}

.icon-bar {
    display: flex;
    justify-content: flex-end;
}

.icon a span {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    margin-right: 10px;
    position: relative;
}

.icon:hover {
    background-color: rgba(150, 150, 150, .7);
    color: white;
    cursor: pointer;
    border-radius: 4px;
    height: 25px;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: lightskyblue;
    box-shadow: 0px 2px 2px lightgray;
    position: fixed;
    width: 100%;
    height: 30px;
    top: 0;
    left: 0;
    padding: 3px;
}

.chart-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
    width: 30%;
}

.chart {
    background: white;
    border: 1px solid lightgray;
    border-radius: 2px;
    box-shadow: 2px 2px 2px lightgray;
}

.data-container, .login-container {
    background: white;
    flex-grow: 2;
    border: 1px solid lightgray;
    border-radius: 2px;
    box-shadow: 2px 2px 2px lightgray;
    overflow-y: auto;
    margin: 5px;
}

.data-container {
    height: 100%;
}

.data-container#data {
    flex-grow: 2;
}

.data-container#debug {
    flex-grow: 1;
}

.data-table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #dddddd;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.login-container {
    margin: auto auto;
    width: 400px;
    height: 500px
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 350px;
    margin: auto;
}

label {
    font-size: 20px;
}

input[type="submit"] {
    background-color: whitesmoke;    
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 0px lightgray;
    width: 100px;
    height: 40px;
}

input[type="password"], input[type="email"] {
    height: 25px;
    border: none;
    border-bottom: 2px solid lightslategray;
}

input[type="password"]:focus, input[type="email"]:focus {
    border-bottom: 2px solid lightblue;
}

@media only screen 
and (orientation: portrait) {
    main {
    	height: 99%;
        width: 99%;	
        flex-wrap: wrap;
    }
    
    h1 {
        flex-shrink: 0;
    }
    
    span#icon-label {
        display: none;
    }
    
    .icon {
        width: 40px;
    }
    
    .icon:hover {
        flex-shrink: 0;
        width: 40px;
    }
    
    .chart-row  {
    	width: 99%;
    }
}
